.hepta-card {
  $self: &;
  width: 100%;
  max-width: 696px;    
  font-size: 18px;
  line-height: 26px;
  background: var(--background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-block: 0;
  margin-inline: auto;

  &__media {
    aspect-ratio: 528/374;
    position: relative;
    * { 
      position: revert; 
    }
    img, svg, video, iframe {
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      max-width: 100%;
      display: block;
    }
  }
  &__content {
    margin: var(--spacing-m-l);
    position: relative;
    a {
      font-size: 16px;
      line-height: 26px;
    }
  }
  &__heading { 
    margin-bottom: 12px;
  }
  &__subheading {
    margin-bottom: 24px;
    color: var(--color-2);

    & + & {
      margin-top: -24px;
    }
  }
  
  &__footer {
    margin-top: auto;
    margin: auto var(--spacing-m-l) var(--spacing-m-l);
  }
  p {
    margin: 0 0 24px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  &.lib-big-target-linked {
    cursor: pointer;
    transition: transform .2s;
    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }
}
